{
    admin off
    persist_config off
    auto_https off
    debug
    log {
        format json
        level DEBUG
    }
    servers {
        trusted_proxies static private_ranges 100.0.0.0/8
    }
}

:{$PORT:3000} {
    log {
        format json
    }

    rewrite /health /*

    
    # Proxy /api/* to backend service
    handle /api/* {
        reverse_proxy https://go-pet-care-production.up.railway.app {
            header_up Host {host}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-For {remote_host}
            header_up X-Forwarded-Proto {scheme}
        }
    }

    # Serve static files
    handle /* {
        root * /app/dist
        encode gzip
        file_server {
            precompressed gzip
        }
        try_files {path} /index.html
    }

    # Optional: Handle CORS preflight (OPTIONS) requests
    @cors_preflight method OPTIONS
    handle @cors_preflight {
        header Access-Control-Allow-Origin "*"
        header Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
        header Access-Control-Allow-Headers "*"
        respond "" 204
    }   
}