{
    admin off
    persist_config off
    auto_https off
    debug
    log {
        format json
        level DEBUG
    }
    servers {
        trusted_proxies static private_ranges 100.0.0.0/8
    }
}

:{$PORT} {
    log {
        format json
    }

    handle /health {
        respond "OK" 200
    }

    handle /* {
        reverse_proxy https://go-pet-care-production.up.railway.app {
            header_up Host {http.request.host}
            header_up X-Forwarded-Host {http.request.host}
            header_up X-Forwarded-Port {http.request.port}
            header_up X-Forwarded-Proto {http.request.scheme}
            header_up X-Real-IP {http.request.remote}
            header_up X-Forwarded-For {http.request.remote}
        }
    }

    handle /* {
        root * /app/dist
        encode gzip
        file_server
        try_files {path} /index.html
    }
}